<ion-content class="login-content" padding>

    <ion-card>

        <ion-card-header>

            <ion-row>
                <ion-col size="2"></ion-col>
                <ion-col>
                    <img src="assets/toyota-logo.png">

                </ion-col>
                <ion-col size="2"></ion-col>
            </ion-row>


        </ion-card-header>
        <ion-card-content>
            <div padding>
                <ion-segment [(ngModel)]="opt" color="primary">
                    <ion-segment-button value="signin">
                        LOGIN
                    </ion-segment-button>
                    <ion-segment-button value="signup">
                        REGISTRO
                    </ion-segment-button>
                </ion-segment>
            </div>

            <div [ngSwitch]="opt">



                <form  *ngSwitchCase="'signin'">

                    <ion-row>
                        <ion-col size="1" margin-vertical>
                            <ion-icon class="form-icon" name="mail" ></ion-icon>
                        </ion-col>
                        <ion-col size="11">
                            <ion-item>
                                <ion-label position="floating">  Email</ion-label>
                                <ion-input type="text"  clearInput required="required"
                                           [(ngModel)]="user.email"  name="email"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="1" margin-vertical>
                            <ion-icon class="form-icon" name="key" ></ion-icon>
                        </ion-col>
                        <ion-col size="11">
                            <ion-item>
                                <ion-label position="floating">  Contraseña</ion-label>
                                <ion-input type="password"  clearInput required="required"
                                           [(ngModel)]="user.password"  name="password"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <br>
                    <ion-row>
                        <ion-col size="3">
                        </ion-col>
                        <ion-col size="6" >
                            <ion-button class="log-in-button " color="danger" shape="round"
                                        [disabled]="!(user.password && user.email)"
                                        (click)="doLogin()"  expand="block" >
                                Entrar
                            </ion-button>
                        </ion-col>
                        <ion-col size="3">
                        </ion-col>
                    </ion-row>
                </form>


                <form  *ngSwitchCase="'signup'">


                    <ion-row>
                        <ion-col size="1" margin-vertical>
                            <ion-icon class="form-icon" name="person" ></ion-icon>
                        </ion-col>
                        <ion-col size="11">
                            <ion-item>
                                <ion-label  position="floating">  Nombre:</ion-label>
                                <ion-input type="text"  clearInput required="required"
                                           [(ngModel)]="user.name"  name="name"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="1" margin-vertical>
                            <ion-icon class="form-icon" name="mail" ></ion-icon>
                        </ion-col>
                        <ion-col size="11">
                            <ion-item>
                                <ion-label position="floating">  Email</ion-label>
                                <ion-input type="text"  clearInput required="required"
                                           [(ngModel)]="user.email"  name="email"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="1" margin-vertical>
                            <ion-icon class="form-icon" name="key" ></ion-icon>
                        </ion-col>
                        <ion-col size="11">
                            <ion-item>
                                <ion-label position="floating">  Contraseña</ion-label>
                                <ion-input type="password"  clearInput required="required"
                                           [(ngModel)]="user.password"  name="password"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>


                    <ion-row>
                        <ion-col size="1" margin-vertical>
                            <ion-icon name="call" class="form-icon" ></ion-icon>
                        </ion-col>
                        <ion-col size="11">
                            <ion-item>
                                <ion-label position="floating">  Celular</ion-label>
                                <ion-input type="number"  clearInput required="required"
                                           [(ngModel)]="user.phone"  name="phone"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>


                    <ion-row>
                        <ion-col size="3">
                        </ion-col>
                        <ion-col size="6" >
                            <ion-button class="log-in-button " type="submit" color="danger" shape="round"
                                        [disabled]="!(user.password && user.email && user.phone  && user.name)"
                                        (click)="doSignup()" expand="block" >
                                ENTRAR
                            </ion-button>
                        </ion-col>
                        <ion-col size="3">
                        </ion-col>
                    </ion-row>

                </form>



            </div>
        </ion-card-content>

    </ion-card>

    <ion-row>
        <ion-col size="6">
            <div>
                <button class="loginBtn loginBtn--facebook"   expand="block" (click)="doFbLogin()">
                    FACEBOOK
                </button>
            </div>
        </ion-col>
        <ion-col size="6">
            <div>
                <button class="loginBtn loginBtn--google"  color="danger" expand="block" (click)="doGoogleLogin()">
                    GOOGLE
                </button>
            </div>
        </ion-col>
    </ion-row>



</ion-content>
