<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle icon-only>
      <!-- <ion-icon class="my-menu"></ion-icon> -->
    </button>
    <ion-title>Nosotros</ion-title>

  </ion-navbar>
</ion-header>
<ion-content padding>

  <div>
    <ion-card class="article">
      <div class="images">
        <ion-grid>
          <ion-row>
            <ion-col class="main-col" col-12>
              <div class="img_main">
                <img *ngIf="item.image" [src]="getURL(item.image)" (tap)="openPhotos()">
              </div>
            </ion-col>
            <!-- next images must be equaled in width and height -->
          </ion-row>
        </ion-grid>
        </div>
       
      
      
      <ion-grid padding-top>
        <ion-row text-center>
            <ion-col col-12>
            <!-- <h4  class="especializaciones" ion-text color="darkest"></h4> -->
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 *ngIf="item.phone">
              <p ion-text color="dark" class="my-text">
                <a class="phone-link my-text" href="tel:{{item.phone}}">
                  <ion-icon name="ios-call" item-left color="color2"></ion-icon>
                  {{item.phone}}
                </a>
              </p>
            </ion-col>
            <ion-col col-6 *ngIf="item.address">
              <p ion-text color="dark" class="my-text">
                <ion-icon name="ios-home" item-left color="color2"></ion-icon> {{item.address}}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 *ngIf="item.location" text-center>
              <p ion-text color="color2" class="my-text" [navParams]="{item:item}" navPush="OnmapPage">
                <ion-icon name="ios-pin" item-left color="color2"></ion-icon> VER EN MAPA
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>




      <div class="company">
        <!-- <img src="assets/imgs/logo.png" (tap)="openPhotos()"> -->
        <p class="description"> {{item.largeDescription}}</p>
      </div>

      
    </ion-card>
  </div>


</ion-content>