<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Mantenimiento Express
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/toyomovil.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Una nueva solución para vos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Agendá tu mantenimiento express y nos acercamos a tu casa o trabajo.</p>
      <p>Servicio disponible en Asunción y Gran Asunción</p>
    </ion-card-content>
  </ion-card>

</ion-content>
