page-deliveries {
  .list_items .item .label span {
        font-size: 1.3rem;
    }
   
    p, .select-popover .popover-content .list .item .label {
        font-size: 1.4rem !important;
    }

    .item-form{
        min-height: 30px !important;
    }

}
