<ion-header>
  <ion-navbar>
    <ion-title>Detalles</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="detailsPages" *ngIf="item">

  <div>
    <ion-card class="">
      <div class=" images">
        <ion-grid>
          <ion-row>
            <ion-col col-12 class="main-col">
              <div class="img_main">
                <img [src]="getURL(item.image)" (tap)="openPhotos(0)">
              </div>
            </ion-col>
            <!-- next images must be equaled in width and height -->
          </ion-row>
          <ion-row *ngIf="item.imagesQty==1">
            <ion-col class="nomain-col" col-12 *ngFor="let image of item.images">
              <div class="img_cover">
                <img [src]="getURL(image)">
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="item.imagesQty==2">
            <ion-col class="nomain-col" col-6 *ngFor="let image of item.images">
              <div class="img_cover">
                <img [src]="getURL(image)">
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="item.imagesQty==3">
            <ion-col class="nomain-col" col-4 *ngFor="let image of item.images;">
              <div class="">
                <img [src]="getURL(image)">
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="item.imagesQty==4;">
            <ion-col class="nomain-col" col-3 *ngFor="let image of item.images">
              <div class="img_cover">
                <img [src]="getURL(image)">
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </ion-card>
  </div>



  <ion-item padding class="img_info">

    <h4 ion-text color="color2">{{item.name}}</h4>
    <p ion-text color="dark" class="description">{{item.description}}</p>
  </ion-item>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngIf="item.phone">
          <p ion-text color="dark" class="my-text">
            <a class="phone-link" href="tel:{{item.phone}}">
              <ion-icon name="ios-call" item-left color="color2"></ion-icon>
              {{item.phone}}
            </a>
          </p>
        </ion-col>
        <ion-col col-6 *ngIf="item.address">
          <p ion-text color="dark" class="my-text">
            <ion-icon name="ios-home" item-left color="color2"></ion-icon> {{item.address}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 *ngIf="item.location" text-center>
          <p ion-text color="color2" class="my-text" [navParams]="{item:item}" navPush="OnmapPage">
            <ion-icon name="ios-pin" item-left color="color2"></ion-icon> Ver en mapa
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card padding *ngIf="item.largeDescription">
    <ion-card-header>
      <h4 ion-text color="color2" padding-left>DESCRIPCIÓN</h4>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        {{item.largeDescription}}
      </p>
    </ion-card-content>
    <!-- Practice Area -->
    <ion-grid *ngIf="item.specializations">
        <ion-row>
            <ion-col col-12>
                 <h4  class="especializaciones" ion-text color="color2">ESPECIALIZACIONES</h4> 
              </ion-col>
        </ion-row>
        <ion-row  *ngFor="let specialization of item.specializations">
            <ion-col col-12 padding-left>
              <p ion-text class="my-text" color="dark">
                <ion-icon name="md-arrow-dropright"></ion-icon>
                {{specialization.name}}
              </p>
            </ion-col>
          </ion-row>
      </ion-grid>
  </ion-card>
</ion-content>